PIPS/Web References/BOSSSaveAudits/SaveAuditsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveAudit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="information" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="picture" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAuditResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveAuditSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAudit" />
  </wsdl:message>
  <wsdl:message name="SaveAuditSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAuditResponse" />
  </wsdl:message>
  <wsdl:portType name="SaveAuditsServiceSoap">
    <wsdl:operation name="SaveAudit">
      <wsdl:input message="tns:SaveAuditSoapIn" />
      <wsdl:output message="tns:SaveAuditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaveAuditsServiceSoap" type="tns:SaveAuditsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="SaveAudit">
      <soap:operation soapAction="http://tempuri.org/SaveAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaveAuditsService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="SaveAuditsServiceSoap" binding="tns:SaveAuditsServiceSoap">
      <soap:address location="http://localhost:8088/BOSS/Services/SaveAuditsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>