PIPS/Web References/BOSSLogins/LoginsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLogins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginsResult" type="tns:ArrayOfLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Login" nillable="true" type="tns:Login" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Login">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsAdmin" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsExternal" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSync" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiration" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLoginsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogins" />
  </wsdl:message>
  <wsdl:message name="GetLoginsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginsResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginsServiceSoap">
    <wsdl:operation name="GetLogins">
      <wsdl:input message="tns:GetLoginsSoapIn" />
      <wsdl:output message="tns:GetLoginsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginsServiceSoap" type="tns:LoginsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetLogins">
      <soap:operation soapAction="http://tempuri.org/GetLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginsService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="LoginsServiceSoap" binding="tns:LoginsServiceSoap">
      <soap:address location="http://localhost:8088/BOSS/Services/LoginsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>