PIPS/Web References/BOSSHotLists/HotListsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHotList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hotlist_id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHotListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHotListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHotListSoapIn">
    <wsdl:part name="parameters" element="tns:GetHotList" />
  </wsdl:message>
  <wsdl:message name="GetHotListSoapOut">
    <wsdl:part name="parameters" element="tns:GetHotListResponse" />
  </wsdl:message>
  <wsdl:portType name="HotListsServiceSoap">
    <wsdl:operation name="GetHotList">
      <wsdl:input message="tns:GetHotListSoapIn" />
      <wsdl:output message="tns:GetHotListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotListsServiceSoap" type="tns:HotListsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetHotList">
      <soap:operation soapAction="http://tempuri.org/GetHotList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotListsService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="HotListsServiceSoap" binding="tns:HotListsServiceSoap">
      <soap:address location="http://localhost:8088/BOSS/Services/HotListsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>